@charset "utf-8";

/* 폰트어썸 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* 구글폰트 */
/* NanoSans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Reset CSS */
@import url("normalize.css");
@import url("reset.css");

/* Common CSS */
*, *::before, *::after {
  box-sizing: border-box;
}

.clear-fix::after {
  content: "";
  display: block;
  clear: both;
}

.blind {
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  width: 1px;
  height: 1px;
  position: absolute;
}

a {
  color: inherit;
  text-decoration: none;

  transition: 0.2s 0.2s;
}

form * {
  color: inherit;
  font: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* Default CSS */
html { 
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #555;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.7;
  margin-top: 25px;
}

header, main {
  width: 1200px;
  margin: 0 auto;
}


/* --- header.header ------------------------- */

.title {
  font-size: 20px;
  font-weight: 700;
}

.a1 {
  margin-left: 100px;
}

.search {
font-size: 18px;
margin: 40px 0;
position: relative;
}

.select-city {
  width: 100px;
  height: 40px;
  color: #434343;
  padding: 0 15px;
  background: #e2e2e2;
  border-radius: 10px;
  text-align: center;
  border: none;
}

.search-input {
  width: 800px;
  background-color: #e2e2e2;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  float: right;
}

.search-box {
  position: absolute;
  top: 0;
  right: 0;
}

.search-button {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0;
  cursor: pointer;
  background-color: #e2e2e2;
  border-radius: 10px;
}
.search-button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 20px;
  color: #4b4b4b;
}





/* --- main.main-top ------------------------- */
main {
  position: relative;
  top: 50px;
}

.keyword h2 {
  font-size: 20px;
  font-weight: 600;
}

img {
  width: 800px;
  height: 300px;
  object-fit:cover;
}

iframe {
  position: absolute;
  right: 0;
  top: 145px;
  width: 395px;
  height: 300px;
}

.site {
  font-size: 30px;
  font-weight: 700;
}

hr {
  height: 2px;
  background-color: #808080;
  border: none;
  margin-bottom: 50px;
}




/* --- table.table ------------------------- */

.table {
  width: 1200px;
  border-collapse: collapse;
  margin-bottom: 250px;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 5px 10px;
}

.table tbody th {
  text-align: left;
  font-weight: 400;
  background: #04a96d;
  color: #fff;
  width: 200px;
}




/* --- footer.footer ------------------------- */
.footer {
  background-color: #e2e2e2;
  color: #606060;
  padding: 20px 0 20px;
  height: 150px;
}

.footer-content {
  width: 1200px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.footer-content .footer-title, .footer-content h4 {
  display: inline-block;
}

.footer-content .footer-title {
  font-size: 20px;
  font-weight: 500;
}

.footer-content h4, .footer-content p{
  font-size: 12px;
}



